body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.main-information * {
  text-align: center;
}
.to-do-list {
  text-align: center;
}
.to-do-list input {
  padding: 15px 15px;
  width: 290px;
}
